


<tr class="tbodyTrRow"
    ng-repeat="rowData in mdt.paginator().getRows() track by $index"
    ng-class="{'selectedRow': rowData.optionList.selected, '{{rowData.optionList.className}}': rowData.optionList.className }"
    ng-show="(!mdt.opt().paginate || rowData.optionList.visible === true) && rowData.optionList.deleted === false">

    <td class="mdt-td-select" ng-show="mdt.opt().selectable"
        ng-include="'/main/templates/cells/generateCheckboxCell.html'"></td>

    <td
      ng-include src="'/main/templates/cells/generateCell.html'"
      ng-repeat="cellData in rowData.data track by $index"
      ng-class="{
        'mdt-td-{{cellData.columnKey}}': true,
        'mdt-t{{dataStorage.header[$index].alignRule}}': true
      }">
        <!-- generate cell content -->
    </td>
</tr>

<tr ng-show="mdt.paginator().isLoading"
    ng-include src="'/main/templates/rows/loadingIndicator.html'"></tr>

<tr ng-show="mdt.paginator().isLoadError"
    ng-include src="'/main/templates/rows/errorIndicator.html'"></tr>

<tr ng-show="mdt.paginator().isNoResults && !mdt.paginator().isLoadError"
    ng-include src="'/main/templates/rows/noResultIndicator.html'"></tr>
