<div class="mdt-header-alternate" layout="row" layout-align="start center">
    <span class="alternate-text" flex>
      {{getNumberOfSelectedRows()}} {{mdt.translations.itemSelected}}
    </span>
    <md-button ng-click="deleteSelectedRows()"
               aria-label="{{mdt.translations.deleteSelectedRows}}"
               class="md-icon-button md-primary">
        <ng-md-icon icon="delete" size="24"></ng-md-icon>
    </md-button>

    <md-button class="md-icon-button md-primary" aria-label="{{mdt.translations.moreOptions}}">
        <ng-md-icon icon="more_vert" size="24"></ng-md-icon>
    </md-button>
</div>
